[gerrit]
	basePath = git
	canonicalWebUrl = http://{{ aws_public_dns.stdout }}/
[database]
	type = {{ gerrit_db_type }}
	database = {{ gerrit_db_name }}
	hostname = {{ gerrit_db_host }}
	username = {{ gerrit_db_user }}
[index]
	type = LUCENE
[auth]
	type = LDAP
[ldap]
	server = ldap://{{ freeipa_hostname }}
	accountBase = cn=users,cn=accounts,{{ ldap_dc_full }}
	accountPattern = (&(objectClass=person)(uid=${username}))
	groupBase = cn=groups,cn=accounts,{{ ldap_dc_full }}
	groupPattern = (&(objectClass=posixgroup)(cn=${groupname}))
	groupMemberPattern = (&(objectClass=posixgroup)(member=uid=${username},cn=users,cn=accounts,{{ ldap_dc_full }}))
	sslVerify = false
	accountFullName = displayName
[receive]
	enableSignedPush = false
[sendemail]
	smtpServer = localhost
[container]
	user = gerrit
	javaHome = /usr/lib/jvm/default-java/jre
[sshd]
	listenAddress = *:29418
[download]
	scheme = ssh
[cache]
	directory = cache
[http]
	proxy = http://proxy:8080
	proxyUsername = {{ gerrit_account_name }}
	proxyPassword = {{ gerrit_global_pass }}
